.section-title-decorated {
  position: relative;
  display: inline-block;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: var(--gray-color9);
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    left: 100%;
    margin-left: 19px;
  }
  &::before {
    right: 100%;
    margin-right: 19px;
  }
}

.cs_hero_style_23 {
  padding: 185px 0;
  background: #f3faff;
  .cs_hero_thumbnail {
    display: flex;
    gap: 55px;
    justify-content: center;

    .cs_animated_text {
      right: -60px;
      top: -85px;
      animation: curcularRotation 15s linear infinite;
    }

    .cs_sparkle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .cs_icon {
    position: relative;
    left: -44px;
    top: 0;
    animation: upDown 2s linear infinite;
  }
}

@keyframes upDown {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.cs_product_style_27,
.cs_product_style_33 {
  .cs_product_info {
    padding: 0 30px;
    .cs_price_wrapper {
      transition: all 0.4s ease;
      position: relative;
    }
    .cs_add_to_cart_btn {
      background-color: var(--red-color);
      opacity: 0;
      padding: 0 22px;
      width: fit-content;
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
    }
  }

  &:hover {
    .cs_product_info {
      .cs_price_wrapper {
        transform: translateY(15px);
        opacity: 0;
      }
      .cs_add_to_cart_btn {
        opacity: 1;
        bottom: 32px;
        transform: translateX(-50%);
      }
    }
  }
}
.cs_cta_style_12 {
  padding: 200px 0;
}
