--gray-color19: #fefff1;

.cs_hero_style_20 {
  background: #fefff1;
  padding: 110px 0 135px;

  .cs_hero_content {
    width: min(100%, 940px);
  }
  .cs_hero_img {
    position: absolute;

    &:first-child {
      border-radius: 0 200px 0 0;
      top: 100px;
      left: 130px;
    }
    &:last-child {
      border-radius: 200px 0 0 0;
      right: 130px;
      bottom: 130px;
    }
  }

  .cs_product_area {
    width: min(100%, 780px);
  }
  .cs_product {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .cs_review_wrapper {
    display: flex;
    align-items: center;
    gap: 9px;
    .cs_rating {
      width: 95px;
      letter-spacing: 1px;
      height: 17px;
    }
  }

  .cs_shape_1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .cs_star {
    position: absolute;
    right: -40px;
    top: -20px;
    animation: curcularRotation 15s linear infinite;
  }
}
// product
** like as .cs_product_style_14 .cs_product_style_30 {
  &:hover {
    .cs_product_thumbnail {
      .addToCartButton {
        display: none;
      }
    }
  }
}
.cs_product_list_style_1 {
  .cs_product_style_30 {
    &:hover {
      .cs_product_thumbnail {
        .addToCartButton {
          display: none;
        }
      }
    }
  }
}
