// --gray-color24: #FBFBFB;
// --dark-color2: #222;
// --green-color:#3CB815;

.cs_hero_style_28 {
  padding: 0 0 300px;
  background-color: #f3f3f3;
  .cs_hero_content {
    width: min(100%, 700px);

    .cs_arrow_icon {
      left: 141px;
      bottom: -104px;
      animation: undo 03.3s ease infinite alternate;
    }
  }
  .cs_shape {
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .cs_leaf_icon {
    img {
      position: absolute;

      &:nth-child(1) {
        top: 99px;
        left: 67px;
      }
      &:nth-child(2) {
        bottom: 21%;
        right: 38%;
      }
      &:nth-child(3) {
        bottom: 21%;
        right: 16%;
      }
      &:nth-child(4) {
        top: 4%;
        right: 40%;
      }
      &:nth-child(5) {
        top: 7%;
        right: 16%;
      }
    }
  }
}

// icon- animation
@keyframes undo {
  100% {
    transform: rotate(-15deg);
  }
}

.cs_hero_style_29 {
  padding: 80px 0 80px;
  .cs_hero_content {
    width: min(100%, 710px);
  }
  .cs_hero_icon {
    bottom: 135px;
    left: -134px;
  }
  .cs_delivery {
    display: flex;
    align-items: center;
    gap: 11px;
    width: fit-content;
    padding: 20px 10px 15px 17px;
    border-radius: 20px;
    background: var(--white, #fff);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    bottom: 90px;
    left: 180px;
    animation: scrollingAnimation 6s ease infinite alternate;
  }

  .cs_hero_thumbnail {
    width: 36vw;
    margin-bottom: -80px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 1399px) {
    .cs_hero_thumbnail {
      width: 42vw;
      margin-bottom: -150px;
    }
    .cs_delivery {
      bottom: 54px;
      left: 162px;
    }
  }
  @media (max-width: 1199px) {
    .cs_hero_thumbnail {
      margin-bottom: -186px;
    }
  }
  @media (max-width: 992px) {
    .cs_hero_thumbnail {
      width: 100%;
    }
    .cs_hero_icon {
      bottom: 177px;
      left: -37px;
    }
    .cs_delivery {
      bottom: 130px;
      left: 250px;
    }
  }
}

.cs_why_choose_item {
  display: flex;
  gap: 25px;
  align-items: start;
  .cs_icon {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

// Organic food 2

.cs_layer_img_box_style_2 {
  .cs_layer_img_2 {
    img {
      border: 12px solid var(--white-color);
    }
  }
}

.cs_category_item_style_8 {
  padding: 30px 25px 25px;

  &.cs_type_1 {
    background-color: #eaf5e3;
  }
  &.cs_type_2 {
    background-color: #f9f9d7;
  }
  &.cs_type_3 {
    background-color: #eeeefa;
  }
  &.cs_type_4 {
    background-color: #fef4ea;
  }
}
