/*===============================================================
  08. Slider
=================================================================*/
// .cs_slider.cs_style_2 {
//   @media (max-width:991px) {
//     padding-bottom: 10px  !important;
//   }
// }

.cs_slider.cs_style_2.swiper {
  position: initial !important;
}

.slick-arrow {
  cursor: pointer;
}

.draggable {
  cursor:
    url(../img/drag.webp) 16 9,
    ew-resize !important;
}
.swiper-slide {
  height: auto !important;
}
.swiper-slide-active {
  .cs_hero_style_1 {
    .cs_hero_thumbnail img {
      opacity: 1;
      transform: scale(1);
    }

    .cs_hero_text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .cs_hero_style_2,
  .cs_hero_style_3,
  .cs_hero_style_4,
  .cs_hero_style_5,
  .cs_hero_style_6,
  .cs_hero_style_9,
  .cs_hero_style_10,
  .cs_hero_style_12,
  .cs_hero_style_13,
  .cs_hero_style_16,
  .cs_hero_style_17,
  .cs_hero_style_18,
  .cs_hero_style_19,
  .cs_hero_content_wrapper {
    .cs_hero_content {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.6s ease;
    }

    .cs_hero_thumbnail {
      opacity: 1;
      transform: scale(1);
      transition: all 0.8s ease;
    }
    .cs_hero_bg {
      opacity: 1;
      transform: scale(1.05);
      transition: all 1s ease;
    }

    .cs_hero_shape_1,
    .cs_hero_shape_2,
    .cs_curcular_text {
      opacity: 1;
      transition: all 1s ease;
    }
  }

  .cs_testimonial_style_1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
  }
}

.cs_slider_gap_0 {
  .cs_slider_container,
  .swiper-wrapper {
    margin: 0 !important;
  }

  .swiper-slide {
    margin-right: 0 !important;
  }
}

/*=================================================
 Slider Arrows
===================================================*/
.cs_arrows_style_1,
.cs_arrows_style_3,
.cs_arrows_style_4,
.cs_arrows_style_6 {
  gap: 16px;
  z-index: 111;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 4px 0 rgba(140, 140, 140, 0.25);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_left_arrow {
    left: calc(0px + 6%);

    svg {
      transform: rotate(180deg);
    }
  }

  .cs_right_arrow {
    right: calc(0px + 6%);
  }
  @media (max-width: 991px) {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .cs_left_arrow,
    .cs_right_arrow {
      position: initial;
      transform: initial;
    }
  }
}

.cs_arrows_style_2,
.cs_arrows_style_5 {
  gap: 16px;
  z-index: 111;

  .cs_left_arrow,
  .cs_right_arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  .cs_left_arrow {
    left: 0;
  }

  .cs_right_arrow {
    right: 0;
  }

  @media (max-width: 991px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    .cs_left_arrow,
    .cs_right_arrow {
      position: initial;
      transform: initial;
    }
  }
}

.cs_arrows_style_3 {
  .cs_left_arrow,
  .cs_right_arrow {
    box-shadow: none;
    padding: 0;
  }

  .cs_left_arrow {
    left: calc(0px + 3%);
  }

  .cs_right_arrow {
    right: calc(0px + 3%);
  }
  @media (max-width: 1600px) {
    .cs_left_arrow {
      left: calc(0px + 0%);
    }

    .cs_right_arrow {
      right: calc(0px + 0%);
    }
  }
  @media (max-width: 991px) {
    .cs_left_arrow,
    .cs_right_arrow {
      position: absolute;
      top: calc(100% - 100px);
      transform: initial;
    }

    .cs_left_arrow {
      left: calc(50% - 60px);
    }

    .cs_right_arrow {
      right: calc(50% - 60px);
    }
  }
}

.cs_arrows_style_4 {
  @media (min-width: 1660px) {
    .cs_left_arrow {
      left: calc(-10% + 30px);
    }

    .cs_right_arrow {
      right: calc(-10% + 30px);
    }
  }
}

.cs_arrows_style_5 {
  .cs_left_arrow,
  .cs_right_arrow {
    &:hover {
      color: var(--purple-color);
    }
  }
}
.cs_arrows_style_6 {
  .cs_left_arrow,
  .cs_right_arrow {
    top: 35%;
    transform: translateY(-35%);
  }
}
.cs_arrows_style_7 {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  .cs_left_arrow,
  .cs_right_arrow {
    width: 45px;
    height: 45px;
    color: var(--gray-color9);
    border-radius: 10px;
    border: 1px solid var(--gray-color9);
    transition: all 0.4s ease;
    &:hover {
      color: var(--white-color);
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
  }
  @media (max-width: 991px) {
    position: initial;
    flex-direction: row;
    transform: translateY(0);
    justify-content: center;
  }
}

.cs_arrows_style_8 {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  .cs_left_arrow,
  .cs_right_arrow {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
    border-radius: 10px;
    border: 1px solid var(--white-color);
    z-index: 2;
    &:hover {
      color: var(--primary-color);
      border-color: var(--white-color);
      background-color: var(--white-color);
    }
  }
  .cs_left_arrow {
    left: calc(13px + 9%);
  }

  .cs_right_arrow {
    right: calc(13px + 9%);
  }
  @media (max-width: 991px) {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    z-index: 2;
    .cs_left_arrow,
    .cs_right_arrow {
      position: initial;
      top: initial;
      transform: translateY(0);
    }
  }
}

.cs_arrows_style_9 {
  display: flex;
  align-items: center;
  gap: 13px;
  .cs_left_arrow,
  .cs_right_arrow {
    width: 45px;
    height: 45px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--gray-color2);
    box-shadow: 0 5px 4px 0 rgba(140, 140, 140, 0.25);
    transition: all 0.4s ease;
    &:hover {
      color: var(--dark-white-color);
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
  }
}
/*=================================================
 Slider Pagination
===================================================*/
.swiper-pagination.cs_style_1,
.swiper-pagination.cs_style_2,
.swiper-pagination.cs_style_3,
.swiper-pagination.cs_style_4,
.swiper-pagination.cs_style_5,
.swiper-pagination.cs_style_6,
.swiper-pagination.cs_style_7,
.swiper-pagination.cs_style_8,
.swiper-pagination.cs_style_9,
.swiper-pagination.cs_style_10,
.swiper-pagination.cs_style_11 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: calc(100% - 55px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white-color);
    opacity: 0.5;
    transition: all 0.3s ease;

    &.swiper-pagination-bullet-active {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 991px) {
    left: 50%;
    top: calc(100% - 80px);
    transform: translateX(-50%);
    flex-direction: row;
  }
}

.swiper-pagination.cs_style_2 {
  left: 96px;
  top: calc(100% - 80px);
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  .swiper-pagination-bullet {
    background-color: var(--secondary-color);
    margin: 0;
  }
}

.swiper-pagination.cs_style_3,
.swiper-pagination.cs_style_4,
.swiper-pagination.cs_style_7,
.swiper-pagination.cs_style_9 {
  left: initial;
  top: calc(100% - 50px);
  flex-direction: row;

  .swiper-pagination-bullet {
    opacity: 1;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    margin: 0;

    &.swiper-pagination-bullet-active {
      border-color: var(--blue-color);
      background-color: var(--blue-color);
    }
  }

  @media (min-width: 1700px) {
    top: 50%;
    right: calc(100vw - 7%);
    flex-direction: column;
  }

  @media (max-width: 991px) {
    position: initial;
    transform: translateX(0);
  }
}

.swiper-pagination.cs_style_4 {
  .swiper-pagination-bullet {
    border-color: var(--purple-color);

    &.swiper-pagination-bullet-active {
      border-color: var(--purple-color);
      background-color: var(--purple-color);
    }
  }
}

.swiper-pagination.cs_style_5,
.swiper-pagination.cs_style_6,
.swiper-pagination.cs_style_8 {
  left: initial;
  right: 8%;
  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}
.swiper-pagination.cs_style_6 {
  .swiper-pagination-bullet {
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: var(--yellow-color);
    }
  }
  @media (max-width: 1399px) {
    right: 1%;
  }
  @media (max-width: 991px) {
    top: calc(100% - 12px);
  }
}
.swiper-pagination.cs_style_7 {
  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
  }
}
.swiper-pagination.cs_style_8 {
  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid var(--dark-white-color);

    &.swiper-pagination-bullet-active {
      background-color: var(--orange-color);
    }
  }
  @media (max-width: 991px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
.swiper-pagination.cs_style_9,
.swiper-pagination.cs_style_10 {
  .swiper-pagination-bullet {
    border-color: var(--red-color);

    &.swiper-pagination-bullet-active {
      border-color: var(--red-color);
      background-color: var(--red-color);
    }
  }
}

.swiper-pagination.cs_style_10 {
  flex-direction: row;
  bottom: 0;
  top: initial;
  left: 50%;
  transform: translate(-50%, 0);
  .swiper-pagination-bullet {
    border: 1px solid var(--red-color);
    opacity: 1;
    margin: 0;
  }
}
.swiper-pagination.cs_style_11 {
  gap: 10px;
  flex-direction: row;
  top: initial;
  left: 50%;
  bottom: 80px;
  .swiper-pagination-bullet {
    width: 20px;
    height: 6px;
    opacity: 1;
    border-radius: 5px;
    background: var(--gray-color2);
    border: none;

    &.swiper-pagination-bullet-active {
      background-color: var(--primary-color);
    }
  }
}
/*=======================================================
 Horizontal Slider
=========================================================*/
.cs_horizontal_slider_wrapper {
  .cs_horizontal_slider {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cs_horizontal_slider {
  overflow: hidden;
  .cs_sliding_content {
    display: flex;
    align-items: center;
    flex: none;
    animation: scrollingAnimation 60s linear infinite;
  }

  .cs_slider_inner {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
  }

  &:nth-child(even) {
    .cs_sliding_content {
      animation-direction: reverse;
    }
  }
  &.cs_type_1 {
    .cs_logo_list {
      gap: 100px;
      margin: 0 50px;
    }
  }
  &:hover {
    .cs_sliding_content {
      animation-play-state: paused;
    }
  }
}

/*=======================================================
 Partners Logo
=========================================================*/
.cs_logo_list,
.cs_announcements {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 146px;
  margin: 0 73px;

  .cs_logo {
    flex: none;
  }
}
.cs_announcements {
  gap: 30px;
  margin: 0 15px;
}
