// --gray-color22: #f5f1e6;

.cs_hero_style_17,
.cs_hero_style_25 {
  padding: 140px 0;
  .cs_hero_content {
    width: min(100%, 760px);
  }
  .cs_hero_subtitle {
    &::before {
      display: none;
    }
  }
}

.cs_cta_14 {
  padding: 100px 0 130px;
}
.cs_layer_img_box {
  padding-right: 26%;
  padding-bottom: 20%;
  position: relative;

  .cs_layer_img_2 {
    position: absolute;
    right: 0;
    padding-left: 30%;
    bottom: 0;
  }

  img {
    width: 100%;
  }
}

.cs_product_style_35 {
  width: 100%;
  padding: 25px;

  .cs_product_info {
    margin-top: auto;
  }
  &:hover {
    .cs_wishlist_btns {
      right: 0;
      top: 0;
    }
  }
}
.cs_products_list_style_1 {
  .cs_product_style_35 {
    border: 1px solid var(--gray-color13);
    border-bottom: none;
    .cs_product_info {
      align-items: start;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-bottom: 1px solid var(--gray-color13);
      border-radius: 5px 5px 0 0;
    }
  }
}

.cs_pottery_slide {
  overflow: hidden;
  background-color: var(--gray-color13);
  padding: 1px 3px 1px 2px;
  border-radius: 5px;
}
.cs_products_grid_style_2 {
  &.cs_type_9 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background: var(--gray-color13);
    border: 1px solid var(--gray-color13);
  }
  &.cs_type_10 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    background: var(--gray-color13);
    border: 1px solid var(--gray-color13);
  }
}
