// --gray-color24: #FBFBFB;

.cs_hero_style_28 {
  padding: 0 0 300px;
  background-color: #f3f3f3;
  .cs_hero_content {
    width: min(100%, 700px);
    padding-top: 185px;

    .cs_arrow_icon {
      left: 141px;
      bottom: -104px;
      animation: upd 03.3s ease infinite alternate;
    }
  }

  .cs_hero_thumbnail {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .cs_shape {
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .cs_leaf_icon {
    img {
      position: absolute;

      &:nth-child(1) {
        top: 99px;
        left: 67px;
      }
      &:nth-child(2) {
        bottom: 21%;
        right: 38%;
      }
      &:nth-child(3) {
        bottom: 21%;
        right: 16%;
      }
      &:nth-child(4) {
        top: 4%;
        right: 40%;
      }
      &:nth-child(5) {
        top: 7%;
        right: 16%;
      }
    }
  }
  @media (max-width: 994px) {
    .cs_hero_content {
      padding-top: 0;
    }
  }
}

.cs_why_choose_item {
  display: flex;
  gap: 25px;
  align-items: start;
  .cs_icon {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}
