/*=====================================================
  15. Discount Banner
=======================================================*/
.cs_promo_banner_style_1 {
  padding: 50px 30px;
  background: linear-gradient(90deg, #dbdbdb 0%, rgba(232, 232, 232, 0.6) 100%);

  .cs_promo_img {
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    padding: 15px 15px 0 53%;

    img {
      height: 100%;
    }
  }

  @media (max-width: 1199px) {
    padding: 30px 15px;
  }
}

.cs_promo_banner_style_2 {
  padding: 42px 20px 50px 67px;

  .cs_banner_text {
    width: min(100%, 630px);
  }

  @media (max-width: 991px) {
    padding: 42px 15px 50px 15px;
  }
}

.cs_promo_banner_style_3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 20px 50px 60px;

  .cs_banner_text {
    width: min(100%, 380px);
  }

  @media (max-width: 991px) {
    padding: 42px 15px 50px 15px;
  }
}

.cs_promo_banner_style_4,
.cs_promo_banner_style_5 {
  height: 100%;
  padding: 65px 30px 63px;

  .cs_promo_text {
    width: min(100%, 186px);
  }
}

.cs_promo_banner_style_5 {
  padding: 51px 30px;
}

.cs_promo_banner_style_6 {
  height: 100%;
  padding: 65px 30px 63px;

  .cs_promo_thumbnail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 30px 30px 55%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .cs_promo_text {
    width: min(100%, 196px);
  }
}
.cs_promo_banner_style_7 {
  height: 100%;
  padding: 120px 30px;

  .cs_promo_text {
    width: min(100%, 300px);
  }
}
.cs_promo_banner_style_8 {
  height: 100%;
  padding: 90px 35px;

  .cs_promo_text {
    width: min(100%, 300px);
  }
  @media (max-width: 991px) {
    padding: 80px 20px;
  }
}
.cs_promo_banner_style_9 {
  padding: 50px 30px;
  .cs_promo_info {
    width: min(100%, 186px);
  }
}
.cs_promo_banner_style_10 {
  padding-bottom: 100px;
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 991px) {
    padding-bottom: 0;
  }
}
.cs_promo_banner_style_11 {
  img {
    width: 100%;
    height: 100%;
  }
  .cs_promo_text {
    padding-bottom: 63px;
  }
  .cs_arrow {
    bottom: 0;
    left: 23%;
    animation: cradleArrow 4s linear infinite;
  }
}
.cs_promo_banner_style_12 {
  padding: 37px 20px 20px;
  border-radius: 20px;
  gap: 30px;
  background: linear-gradient(220deg, #37d956 17.9%, #239d3a 98.92%);
  .cs_star1 {
    top: 30%;
    left: 15%;
    z-index: 0;
    animation: spinAnimation 6s linear infinite;
    animation-delay: 3s;
  }
  .cs_star2 {
    right: 10%;
    bottom: 15%;
    z-index: 0;
    animation: spinAnimation 6s linear infinite;
  }
  > * {
    position: relative;
    z-index: 1;
  }
}
.cs_promo_banner_style_13 {
  width: calc(100% - 40px);
  padding: 14px 20px 20px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(90deg, #d81616 0%, #f75e5f 100%);
  .cs_promo_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 60%;
    padding-right: 8px;
    display: flex;
    align-items: center;
    z-index: 0;
  }
  > * {
    position: relative;
    z-index: 1;
  }
}
@keyframes cradleArrow {
  50% {
    transform: rotate(-20deg);
  }
}
/*========================================================
 Coupon Card With Discount Button
==========================================================*/
.cs_coupon_card_style_1 {
  padding: 35px 50px 40px;
  overflow: hidden;

  .cs_coupon_content {
    width: min(100%, 250px);
    margin: 0 auto;
  }

  .cs_coupon_btn {
    display: block;
    width: min(100%, 215px);
    padding: 10px 30px 11px;
    color: #fff;
    outline: 0;
    border: 1px dashed currentColor;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: var(--blue-color);
      background-color: var(--white-color);
    }
  }

  .cs_bubble_1,
  .cs_bubble_2 {
    display: block;
    width: 77px;
    height: 77px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cs_bubble_1 {
    left: -38px;
  }

  .cs_bubble_2 {
    right: -39px;
  }

  &.cs_accent_bg {
    .cs_coupon_btn {
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  &.cs_red_bg {
    .cs_coupon_btn {
      &:hover,
      &:focus {
        color: var(--red-color);
      }
    }
  }
}

.cs_tooltip {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  padding: 6px 30px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  z-index: 9999;
  white-space: nowrap;
  text-align: center;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
}
