/*=========================================================
 17. Product Order & Shipping
===========================================================*/
/*=========================================================
 Product Order Info & Summery
===========================================================*/
.cs_order_summery_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .cs_order_summery {
    padding: 17px 24px 24px;

    .cs_btn_style_1 {
      &:hover {
        color: var(--white-color);
      }
    }
  }

  .cs_payment_summery {
    padding: 18px 24px 16px;
  }

  .cs_order_summery_list {
    margin-bottom: 22px;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      span:first-child {
        text-wrap: nowrap;
      }
    }
  }

  .cs_coupon_code_container {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    margin-top: 6px;
    display: none;
    top: 100%;
    z-index: 1;
    right: 0;
    border-radius: 5px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.2);

    input {
      display: inline-block;
      width: min(100%, 150px);
      height: 31px;
      padding: 6px 10px;
      margin-bottom: 6px;
      outline: 0;
      font-size: 14px;
      color: var(--primary-color);
      border-radius: 5px;
      border: 1px solid var(--gray-color2);

      &:focus {
        border-color: var(--primary-color);
      }
    }

    .cs_btn_style_1 {
      padding: 7px 15px;
      height: 31px;
      color: var(--white-color);

      &:hover {
        color: var(--dark-white-color);
      }
    }
  }

  .cs_text_with_link {
    a {
      color: var(--blue-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cs_order_address {
  padding: 18px 24px 21px;
  border: 1px solid var(--gray-color2);

  .cs_phone_number:hover {
    color: var(--accent-color);
  }

  .cs_btn_style_1 {
    width: min(100%, 286px);
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    &:hover {
      color: var(--white-color);
    }
  }

  @media (max-width: 767px) {
    padding: 18px 15px 21px;

    .cs_btn_style_1 {
      position: relative;
      transform: initial;
      right: initial;
      margin-top: 20px;
    }
  }
}

.cs_user_order_table {
  border: 1px solid var(--gray-color2);

  .cs_table_header {
    padding: 22px 24px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-color2);
  }

  .cs_text_btn_style_1 {
    background-image: none;
  }

  .cs_table_content {
    padding: 100px 24px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
  }

  @media (max-width:991px) {
    .cs_table_header {
      padding: 15px 15px 18px;
    }

    .cs_table_content {
      padding: 50px 15px 40px;
    }
  }

  @media (max-width:767px) {
    .cs_table_content {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width:413px) {
    .cs_table_content {
      grid-template-columns: repeat(1, auto);
    }
  }
}

.cs_order_tracking_list {
  display: flex;
  align-items: center;
  gap: 15px;

  li {
    padding: 10px;
    border-radius: 5px;
    line-height: 1em;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active,
    &:hover {
      color: var(--primary-color);
      background-color: var(--gray-color2);
    }
  }
}

.cs_user_order_item {
  border: 1px solid var(--gray-color2);
  overflow-x: auto;

  .cs_order_item_heading {
    min-width: 700px;
    padding: 22px 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-color2);
  }

  .cs_text_btn_style_1 {
    background-image: none;
  }

  .cs_btn_style_1 {
    padding: 4px 30px 5px;
  }

  .cs_cart_product_style_1 {
    min-width: 700px;
  }
}

/*=========================================================
 Payment Modal Info & Summery
===========================================================*/
.cs_shipping_methods {
  .cs_payment_options_wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  #addCardModalBtn,
  #paypalCardModalBtn,
  #cashOnDelivery {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    p,
    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }

  }

  .cs_custom_checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 3px;
      left: 3px;
      opacity: 0;
      border-radius: inherit;
      background-color: var(--accent-color);
    }

    &:has(input:checked) {
      border-color: var(--accent-color);

      &::after {
        opacity: 1;
      }
    }
  }
}

.cs_shipping_address,
.cs_shipping_methods {
  padding: 18px 24px 20px;
  border: 1px solid var(--gray-color2);

  a:hover {
    color: var(--accent-color);
  }

  .cs_change_btn {
    display: block;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    margin-top: 0 !important;
  }

  @media (max-width: 575px) {
    .cs_change_btn {
      position: initial;
      transform: initial;
      margin-left: auto !important;
      margin-top: 17px !important;
    }
  }
}

.cs_order_action {
  padding: 18px 24px 20px;
  border: 1px solid var(--gray-color2);

  .cs_bns_wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .cs_btn_style_1 {
    padding: 4px 30px 5px;

    &.cs_primary_bg {
      color: var(--white-color);

      &:hover {
        color: var(--dark-white-color);
      }
    }

    &.cs_accent_bg:hover {
      color: var(--white-color);
    }
  }
}

.cs_address_modal,
.cs_card_modal {
  width: 100%;
  height: 100%;
  padding: 7% 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  .cs_address_modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: zoom-out;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
  }

  .cs_modal_content_wrapper {
    width: min(100%, 936px);
    height: 100%;
    max-height: 700px;
    padding: 43px 0 50px;
    margin: 0 auto;
    transform: scale(0.5);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
  }

  .cs_close_address_modal {
    right: 20px;
    top: 20px;
    transition: all 0.3s ease;

    &:hover {
      color: var(--red-color);
      transform: rotate(45deg);
    }
  }

  .cs_address_form_wrapper {
    width: 100%;
    height: 100%;
    padding: 0 120px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cs_address_form_wrapper::-webkit-scrollbar {
    display: none;
  }

  .cs_card_logo {
    padding: 15px;
  }

  &.active {
    opacity: 1;
    pointer-events: all;

    .cs_modal_content_wrapper {
      transform: scale(1);
    }

    .cs_address_modal_overlay {
      opacity: 0.2;
    }
  }

  @media (max-width: 991px) {
    .cs_modal_content_wrapper {
      padding: 55px 0 30px;
    }

    .cs_address_form_wrapper {
      padding: 0 30px;
    }
  }

  @media (max-width: 575px) {
    .cs_address_form_wrapper {
      padding: 0 15px;
    }
  }
}

.cs_card_modal {
  .cs_modal_content_wrapper {
    max-height: 457px;
  }

  .cs_year {
    &::before {
      content: "/";
      font-size: 20px;
      position: absolute;
      left: -18px;
      top: 11px;
    }
  }

  .cs_year,
  .cs_month {
    &::after {
      content: "\f078";
      font-size: 12px;
      font-weight: 900;
      line-height: 1em;
      font-family: "Font Awesome 7 Free";
      position: absolute;
      right: 20px;
      top: 17px;
      pointer-events: none;
    }
  }
}

.cs_address_form {
  .tom_select {
    .ts-control {
      width: 100%;
      padding: 12px 15px 13px;
    }

    .ts-dropdown,
    .ts-control,
    .input-active {
      background-color: var(--white-color);
    }

    .ts-dropdown .option {
      padding: 13px 15px 14px;
      background-color: var(--white-color);
    }

    .ts-dropdown .option.selected,
    .ts-dropdown .option.active {
      background-color: var(--gray-color3);
    }
  }

  label {
    display: block;
    color: var(--primary-color);
    margin-bottom: 11px;
  }

  .cs_form_field {
    display: block;
    width: 100%;
    outline: 0;
    resize: none;
    padding: 8px 15px 9px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);

    &:focus {
      border-color: var(--accent-color);
    }
  }

  .cs_custom_checkbox {
    label {
      padding-left: 26px;
      margin-bottom: 0;
      color: var(--secondary-color);

      &::before {
        width: 15px;
        height: 15px;
        border-radius: 3px;
        top: 5px;
      }

      &::after {
        content: "\f00c";
        font-size: 10px;
        font-weight: 900;
        line-height: 1em;
        font-family: "Font Awesome 7 Free";
        color: var(--dark-white-color);
        border-radius: 0;
        background-color: transparent;
        left: 3px;
      }
    }

    input {
      &:checked {
        +label {
          &::before {
            border-color: var(--accent-color);
            background-color: var(--accent-color);
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  // .cs_btn_style_1::before {
  //   display: none;
  // }

  .cs_btn_style_1.cs_accent_bg {
    ::before {
      background-color: var(--primary-color);
    }

    &:hover {
      color: var(--white-color);
      //background-color: var(--primary-color);
    }
  }

  .cs_btn_style_1.cs_primary_bg {
    color: var(--white-color);

    &:hover {
      color: var(--dark-white-color);
      //background-color: var(--accent-color);
    }
  }
}