/*==============================================================
  11. Single Product
================================================================*/
.cs_product_details {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-color2);

  .cs_company_with_comment {
    display: flex;
    gap: 14px;

    .cs_company_link {
      display: flex;
      gap: 7px;
      align-items: center;

      &:hover {
        color: var(--accent-color);
      }
    }

    .cs_review_btn {
      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_product_review_stock {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;

    .cs_product_rating {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .cs_rating {
      width: 100px;
      font-size: 14px;
      letter-spacing: 5px;
    }
  }

  .cs_product_price {
    display: flex;
    gap: 11px;
    align-items: center;
  }

  .cs_product_color_list {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;

    li {
      padding-left: 25px;
      position: relative;
      cursor: pointer;

      &.active {
        .cs_color_indicator span {
          transform: translate(-50%, -50%) scale(0.8);
        }

        .cs_color_name {
          color: var(--primary-color);
        }
      }
    }

    .cs_color_indicator {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      left: 0;
      border-radius: 50%;
      border: 1px solid;

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }

      &.cs_color1 {
        border-color: var(--red-color);

        span {
          background-color: var(--red-color);
        }
      }

      &.cs_color2 {
        border-color: var(--secondary-color);

        span {
          background-color: var(--secondary-color);
        }
      }

      &.cs_color3 {
        border-color: var(--primary-color);

        span {
          background-color: var(--primary-color);
        }
      }

      &.cs_color4 {
        border-color: var(--secondary-color);

        span {
          background-color: var(--white-color);
        }
      }
    }
  }

  .cs_product_capacity_list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    li {
      flex: none;
      padding: 4px 10px;
      line-height: 1.25em;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid var(--secondary-color);
      transition: all 0.3s ease;

      &:hover {
        color: var(--white-color);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
      }
    }
  }

  .cs_product_keypoints_list {
    list-style: disc;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .cs_product_summery_list {
    li:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  @media (max-width: 1199px) {
  }
}

.cs_product_shipping_info {
  border: 1px solid var(--gray-color2);

  .cs_shipping_to,
  .cs_shipping_time,
  .cs_shipping_qty,
  .cs_total_price,
  .cs_action_btns_wrapper {
    padding: 19px 25px;
    border-bottom: 1px solid var(--gray-color2);
  }

  .cs_shipping_to {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .cs_action_btns_wrapper {
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
    border-bottom: 0;

    .addToCartButton {
      width: calc(100% - 55px);
      color: var(--white-color);

      &:hover {
        color: var(--dark-white-color);
      }
    }

    .cs_wishlist_btn {
      width: 45px;
      position: relative;
      color: var(--white-color);

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: scale(0);
        background-color: var(--accent-color);
        transition: transform 0.3s ease;
      }

      &.cs_hover_blue {
        &::before {
          background-color: var(--blue-color);
        }
      }
      &.cs_hover_blue2 {
        &::before {
          background-color: var(--blue-color2);
        }
      }

      &.cs_hover_purple {
        &::before {
          background-color: var(--purple-color);
        }
      }

      &.cs_hover_velvet {
        &::before {
          background-color: var(--velvet-color);
        }
      }
      &.cs_hover_red {
        &::before {
          background-color: var(--red-color);
        }
      }
      &.cs_hover_orange {
        &::before {
          background-color: var(--orange-color);
        }
      }

      > * {
        position: relative;
        z-index: 1;
      }

      &:hover {
        color: var(--dark-white-color);

        &::before {
          border-radius: inherit;
          transform: scale(1);
        }
      }
    }

    .buyNowButton {
      width: 100%;

      &:hover {
        color: var(--white-color);
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_shipping_to,
    .cs_shipping_time,
    .cs_shipping_qty,
    .cs_total_price,
    .cs_action_btns_wrapper {
      padding: 19px 15px;
    }

    .cs_btn_style_1 {
      padding: 10px 20px;
    }
  }
}

.cs_product_meta_info {
  .cs_tab_links {
    display: flex;
    gap: 15px 70px;
    overflow-x: auto;
    overflow-y: hidden;

    a {
      display: inline-block;
      padding-bottom: 5px;
      position: relative;
      text-wrap: nowrap;

      &::after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: currentColor;
        transition: all 0.3s ease;
      }
    }

    li.active {
      a::after {
        width: 100%;
      }
    }
  }

  .cs_review_card {
    width: min(100%, 940px);
    padding-bottom: 43px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color2);
  }

  .cs_review_card_left {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
  }

  .cs_rating {
    font-size: 20px;
    width: 144px;
    letter-spacing: 8px;
  }

  .cs_review_card_right {
    width: min(100%, 457px);
  }

  .cs_review_list {
    width: 100%;

    li {
      display: flex;
      gap: 15px;
      align-items: center;

      span:first-child {
        width: 52px;
        flex: none;
      }
    }

    li:not(:last-child) {
      margin-bottom: 6px;
    }

    .cs_progress {
      height: 8px;
      width: min(100%, 364px);
      background-color: var(--gray-color2);

      .cs_progress_in {
        height: 100%;
        border-radius: inherit;
      }
    }
  }

  .cs_product_features_list {
    list-style-type: disc;
    padding-left: 20px;

    li:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  #description {
    p {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #loadMoreReview {
    color: var(--white-color);

    &:hover {
      color: var(--dark-white-color);
    }
  }

  .cs_size_table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 24px;

    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 500px;
    }

    th {
      color: var(--primary-color);
    }

    th,
    td {
      border: 1px solid var(--gray-color2);
      padding: 10px 12px;
      text-align: left;
    }
  }
}

.cs_client_review_list {
  li {
    margin-top: 46px;
    padding-bottom: 46px;
    border-bottom: 1px solid var(--gray-color2);
  }

  .cs_client_review {
    width: min(100%, 1296px);

    .cs_client_review_header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 30px;
    }

    .cs_review_avatar {
      width: 50px;
      height: 50px;
      flex: none;
    }

    .cs_review_header_right {
      display: flex;
      align-items: flex-end;
      gap: 15px 26px;
      flex-wrap: wrap;
    }

    .cs_rating {
      width: 95px;
      font-size: 14px;
      letter-spacing: 4px;
    }
  }
  @media (max-width: 991px) {
    li {
      margin-top: 30px;
      padding-bottom: 20px;
    }
    .cs_client_review {
      .cs_client_review_header {
        margin-bottom: 20px;
      }
    }
  }
}

/*=========================================================
 Review Modal
==========================================================*/
.cs_fullscreen_review_modal {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  .cs_review_overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: zoom-out;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
  }

  .cs_review_form_wrapper {
    width: min(100%, 720px);
    height: 100%;
    max-height: 540px;
    padding: 50px 30px;
    margin: 20px auto 0;
    transform: scale(0.5);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
  }

  .cs_customer_feedback {
    width: 100%;
    height: 100%;
    //max-height: 450px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cs_customer_feedback::-webkit-scrollbar {
    display: none;
  }

  .cs_input_rating i {
    cursor: pointer;
  }

  .cs_riview_form {
    .cs_form_field {
      display: block;
      width: 100%;
      outline: 0;
      padding: 9px 15px;
      resize: none;
      background-color: transparent;
      border: 1px solid var(--secondary-color);

      &:focus {
        border-color: var(--accent-color);
      }
    }

    .cs_btn_style_1:hover {
      color: var(--white-color);
    }
  }

  .cs_review_close_btn {
    top: 15px;
    right: 20px;
    transition: all 0.3s ease;

    &:hover {
      color: var(--red-color);
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .cs_review_overlay {
      opacity: 0.2;
    }

    .cs_review_form_wrapper {
      transform: scale(1);
    }
  }
}

// .ZoomContainer {
//   width: auto;
// }
