/*==============================================================
 11. Tabs
================================================================*/

/*====================================================
  Tab Links Styling
 ======================================================*/
.cs_tab_links.cs_style_1 {
  display: flex;
  height: auto;
  gap: 12px;
  align-items: center;
  overflow-x: auto;

  li {
    border-radius: 5px;
    transition: all 0.4s ease;

    &.active {
      color: var(--primary-color);
      background-color: var(--gray-color1);
    }

    &:hover {
      color: var(--primary-color);
    }

    a {
      display: inline-block;
      padding: 11px;
      text-wrap: nowrap;
    }
  }
}

.cs_tab_links.cs_style_2 {

  li {
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &.active,
    &:hover {
      color: var(--primary-color);
      background-color: var(--white-color);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
    }
  }
}

.cs_tab_links_wrapper {
  padding: 24px;
}

/*====================================================
 Tab Content Styling
======================================================*/
.cs_tabs {

  .cs_tab_body {
    position: relative;
  }

  .cs_tab {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    transition: all 0.5s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      position: initial;
      pointer-events: initial;
      top: 0;
    }
  }

  .cs_articles_wrapper {
    width: 100%;
    padding-left: 20px;
  }

  &.cs_style_2 {
    // .cs_tab_body {
 //   position: initial;
 // }

    // .cs_tab {
 //   display: none;

 //   &.active {
 //     display: block;
 //   }
 // }
  }
}